<form action="/home/search" method="post" class="search-form">
  <input type="text" name="searchedPlace" placeholder="Locate any place..." class="search-input" required>
  <button type="submit" class="search-btn">Search</button>
</form>
<div class="cards-container">

  <a href="/home/viewHeatMap" class="card" style="width: 18rem; text-decoration: none; color: black;">
    <img src="/images/1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h6>View Heat Map</h6>
      <p class="card-text">Explore real-time surface temperature and thermal zones of any city using satellite data and
        visualization tools.</p>
    </div>
  </a>

  <a href="/home/compareCities"  class="card" style="width: 18rem; text-decoration: none; color: black;">
    <img src="/images/2.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h6>Compare Cities</h6>
      <p class="card-text">Analyze and compare urban heat patterns between two locations to understand how geography and
        development impact temperature.</p>
    </div>
  </a>

  <a href="/home/timeLine"  class="card" style="width: 18rem;text-decoration: none; color: black;">
    <img src="images/3.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h6>Evolution Timeline of your city</h6>
      <p class="card-text">See how your city’s heat intensity has changed over time through interactive charts and
        thermal snapshots.</p>
    </div>
  </a>

  <a href="/home/similarProgs"  class="card" style="width: 18rem;text-decoration: none; color: black;">
    <img src="images/4.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h6>Explore Similar Programs</h6>
      <p class="card-text">Discover other global initiatives and research projects focused on tackling urban heat and
        promoting sustainable cooling.</p>
    </div>
  </a>

  <a href="/about"  class="card" style="width: 18rem;text-decoration: none; color: black;">
    <img src="images/5.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h6>About This Project</h6>
      <p class="card-text">Learn about the concept, data sources, and Azure-powered technologies behind the Urban Heat
        Cartographer platform.</p>
    </div>
  </a>
</div>